<nav>
  <ul>
    <li><strong>Jaha Produksjoner</strong></li>
  </ul>
  <ul>
    <li><%= link_to "Medlemmer", :users %></li>
    <li><%= link_to "Programmer", :shows %></li>
    <li><button>Logg inn</button></li>
  </ul>
</nav>