<header>
  <%= render "partials/navbar" %>
  <h1>Jahanianerne</h1>
  <p style="color: green"><%= notice %></p>
  <section>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </section>
</header>
