<section>
  <h2>Programmets medlemmer</h2>
  <p>
    <% if @show.users.count == 0 %>
      <%= "det er ingen her" %>
    <% end %>
  </p>
  <% @show.users.each do |user| %>
    <%= render user %>
  <% end %>
</section>