<header>
  <h1>Editing show</h1>
  <section>
    <%= render "form", show: @show %>
  </section>
  <div>
    <%= link_to "Show this show", @show %> |
    <%= link_to "Back to shows", shows_path %>
  </div>
</header>