<header>
  <%= render "partials/navbar" %>
  <h1>Jaha? En hel haug med podkaster.</h1>
  <p>
    Velkommen til Jaha Produksjoner. Et Oslo-basert podkastkollektiv som lager innhold for deg som liker å ha noe på øret.
  </p>
  <p style="color: green"><%= notice %></p>
</header>
<section>
  <% @shows.each do |show| %>
    <%= render show %>
  <% end %>
</section>
